button{
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
h1{
    text-align: center;
}

center button:hover {
    background-color: rgb(108, 209, 108);
}

button:nth-of-type(3):hover{
    background-color: rgb(255, 83, 83);
  }